@font-face {
  font-family: 'Spartan';
  src: url('../fonts/Spartan/Spartan-Regular.eot');
  src: url('../fonts/Spartan/Spartan-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Spartan/Spartan-Regular.woff2') format('woff2'),
    url('../fonts/Spartan/Spartan-Regular.woff') format('woff'),
    url('../fonts/Spartan/Spartan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../fonts/Spartan/Spartan-Bold.eot');
  src: url('../fonts/Spartan/Spartan-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Spartan/Spartan-Bold.woff2') format('woff2'),
    url('../fonts/Spartan/Spartan-Bold.woff') format('woff'),
    url('../fonts/Spartan/Spartan-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../fonts/Spartan/Spartan-Medium.eot');
  src: url('../fonts/Spartan/Spartan-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Spartan/Spartan-Medium.woff2') format('woff2'),
    url('../fonts/Spartan/Spartan-Medium.woff') format('woff'),
    url('../fonts/Spartan/Spartan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}




html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Spartan, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */

.container {
  width: 100%;
  max-width: 1210px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  background: #EFFAFA;
}

/* HEADER */

.site-header {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 160px;
  background-color: #5CA5A5;
  overflow: hidden;
}

.header-bg-img1 {
  position: absolute;
  left: -140px;
  top: -576px;

}

.header-bg-img2 {
  position: absolute;
  top: -58px;
  right: -97px;
}


/* Main section */

.job-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 76px 0;
}

.job-list-item {
  display: flex;
  align-items: center;
  padding: 32px 40px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}
.job-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.bordered {
  border-left: 5px solid #5CA5A5;;
}

.job-image {
  margin-right: 24px;
}

/* Job info */
.job-info {}

.job-info-top {
  margin-bottom: 8px;
}

.job-name {
  color: #5CA5A5;
  font-family: Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.job-badge-light {
  padding: 6px 8px 4px;
  border-radius: 12px;
  background: #5CA5A5;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.085px;
  text-transform: uppercase;
}

.job-badge-dark {
  padding: 6px 8px 4px;
  border-radius: 12px;
  background: #2B3939;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.085px;
  text-transform: uppercase;
}

.job-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: #2B3939;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.job-bottom {
  display: flex;
  align-items: center;
}

.job-bottom-item {
  color: #7C8F8F;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.115px;
}

.gray-dot {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #B7C4C4;
}

.job-time {}

.job-type {}

.job-location {}

.job-qualifications {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.job-qualifications-item {
  padding: 4px 8px;
  border-radius: 4px;
  background: rgba(92, 165, 165, 0.1);
  color: #5CA5A5;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.1px;
  cursor: pointer;
}

.job-qualifications-item + .job-qualifications-item {
  margin-left: 16px;
}

.job-qualifications-item:hover {
  background-color: #5CA5A5;
  color: #fff;
}
.job-qualifications-item:active {
opacity: 0.9;
}


















/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}